body {
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
}

header {
   background-color: #5b7989;
  -webkit-border-radius: 10px 10px 0px 0px;  /*safati */
  -moz-border-radius: 10px 10px 0px 0px;   /* Firefox */
}

nav {
  text-align: right;
  font-size: 1.5em;
}

header h1 {
  text-align: left;
  color: white;
  text-shadow: 2px 2px #02010a;
}

a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

img {
  border: 2px;
  box-shadow: 5px 5px  #02010a;
  width: 100%
}

#contenido {
  width: 900px;
  display: blocl;
  margin: auto;
}

#Contenedor1 {
  background-color: #82c3a6;
  padding: 1%;
}

#Contenedor1 img {
  display: block;
  margin: auto;
  width: 80%;
}

#Contenedor2 {
  background-color: #d5c75f;
  border: 1px;
  display: flex;
  flex-wrap: warp;
  padding: 2%
}

.Bloque1 {
  order: 1;
  width: 50%;
}

.Bloque1 img:hover {
  border: 2px;
  box-shadow: 5px 5px  #82c3a6;
  transition-duration: 1s;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg); /* Safari */
}

.Bloque2 {
  order: 2;
  width: 50%;
}

.Bloque2 img:hover {
  border: 2px;
  box-shadow: 5px 5px  #82c3a6;
  transition-duration: 1s;
  transform: translate(20px, -5px);
  -webkit-transform: translate(20px, -5px); /* Safari */
}

footer {
  background-color: #C6d5c5;
  -webkit-border-radius: 0px 0px 10px 10px;  /*safati */
  -moz-border-radius: 0px 0px 10px 10px;   /* Firefox */
}
